[Unit]
Description=Time Sync Server

[Service]
Type=forking
PIDFile=/var/run/tssd.pid
ExecStart=/usr/local/bin/tssd
User=root

[Install]
WantedBy=multi-user.target